* {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}

.carousel-caption,
.d-none,
.d-md-block > p {
  color: black;
  font-weight: bold;
  font-size: 25px;
  margin-top: 25px;
}

.d-block {
  height: 336px;
}

/* nút next vs prev */

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #be456a;
  padding: 10%;
  border-radius: 90%;
}

.carousel-inner {
  position: relative;
  width: 100%;
}

.carousel-caption,
.d-none,
.d-md-block {
  width: 35%;
  position: absolute;
  top: 45%;
  left: 10%;
  float: left;
  margin-bottom: 10%;
  text-align: left;
}

.btn,
.btn-primary {
  background-color: #be456a;
}

.carousel-control-next,
.carousel-control-prev {
  height: 8%;
  width: 8%;
  margin-top: 10%;
}

/* xong slide show */

/* ------------------------------------------------------- */

/*  menu */

.carouselExampleCaptions {
  position: relative;
  height: 336px;
}

.navbar,
.navbar-expand-lg,
.navbar-light,
.bg-light {
  position: absolute;
  top: 0px;
  background-color: #f8f9fa00 !important;
  width: 100%;
  z-index: 100;
}

/* viết cho cố định lại menu khi cuộn chuột */

.co-dinh-menu2 {
  position: fixed;
  top: 0px;
  z-index: 25;
  background-color: #ffffff !important;
  box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.35);
  transition: 0.8s;
}

/* .show>ul>li>a {
    background-color: #f8f9fa!important;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: right;
} */

.nav-link {
  margin-left: 80px;
  font-size: 25px;
  font-weight: bold;
}
.nav-link:hover {
  color: #23a8f2 !important;
}

/* .navbar-brand2>img{
    background-color: #eb0d4f;
    border-radius: 90%;
    width: 30px;
    height: 30px;
} */
/* <---------------------xong menu------------------------------> */

.child_1 {
  margin-top: 0px;
  width: 100%;
  height: 450px;
}

.card-deck {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding-top: 3%;
}

.card {
  background-color: #ffffff00;
  border: 2px solid #eb0d4f;
  height: 50px;
}

.card > img {
  width: 96%;
  margin: 2%;
  height: 67%;
  position: relative;
}

.card-text {
  color: #ffffff;
  text-align: center;
}

.card-text {
  margin-top: 2%;
  font-size: 100% !important;
}

.card-body2 {
  position: absolute;
  width: 96%;
  margin: 2%;
  top: 0;
  background-color: #e61d5bb5;
  height: 94%;
  padding-top: 8%;
}

.card-body2:hover {
  background-color: #e61d5bc7;
  filter: brightness(120%);
}

.s1 {
  color: #ffffff;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 8%;
  font-size: 180%;
}

.ss1 {
  background-color: #fff;
  border: 1px solid black;
  margin-bottom: 2%;
  width: 90%;
  height: 20%;
  font-size: 102%;
  font-weight: bold;
  margin-left: 5%;
  color: black;
}

.ss3 {
  margin-top: 5%;
}

/* <--------------------xong mục tiêu 1--------------------> */

/* <-------------------- mục tiêu 2--------------------> */

.img3 > img {
  position: fixed;
  width: 100%;
  top: 9%;
  z-index: -1;
  height: 92%;
}

/* <--------------------xong mục tiêu 2--------------------> */

/* <--------------------mục tiêu 3--------------------> */

.img4 > img {
  margin-top: 40%;
  width: 100%;
  height: 750px;
  margin-bottom: 50px;
  display: block;
}

.row {
  /* top: 180%; */
  top: 1400px;
  margin: auto;
  width: 100%;
}
.col-sm-4 {
  padding-left: 100px;
  border: none;
}
.card{
    border: none !important;
}
.card-title2 {
  font-family: "Indie Flower", cursive;
  color: #a58677;
  font-weight: bold;
  font-style: italic;
}

.card-text1 {
  font-family: "Fredoka One", cursive;
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
}
.card-text2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.so2 {
  background-color: #a5867700;
  border: 1px solid #a58677;
  color: #b88a74;
}
.btn-group3 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.btn-group3 > p {
  text-align: left;
  color: black;
  line-height: 40px;
  padding-right: 305px;
 
}
.btn-group3 > img {
  width: 20px;
  height: 15px;
  margin-top: 10px;
  
}
.p3_trong{
    width: 100%;
    height: 256px;
    border: 1px solid #A58677;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-gap: 30px;
}
.s1_p{
    margin-top: 5px;
    width: 150px;
 
}
.s1_p2{
    text-align: center;
    color: #ffffff;
    
}
.s1_p3{
    text-align: center;
    color: #A58677;
   
}
.s1_p2{
    font-size:20px;
    text-align: center;
    color: #ffffff;
}
.s2_p{
    margin-top: 5px;
    width: 209px;
  
}
.s2_p3{
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    text-align: center;
    color: yellow;
}
.so3 {
    width: 100%;
    margin: auto;
    background-color: #a5867700;
    border: 1px solid #a58677;
    color: #b88a74;
  }
  .s3_p{
    margin-top: 5px;
    width: 209px;
  
  }
  .ss3_p{
      background-color: #A58677;
  }
  .btn-group4{
      margin-top: 15px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color:#a5867700 ;
      border: 1px solid  #A58677;
  }
  .btn-group4>p{
      color: #ffffff;
      
  }
 
/* <--------------------xong mục tiêu 3--------------------> */
/* <--------------------footer--------------------> */
.ft_top{
    width: 100%;
   
}
/* <-------------------- thong bao--------------------> */
.alert {
  position: fixed;
  margin-left: 28% !important;
  top: 20%;
  z-index: 26;
}


